
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form action="/home/createregistration" method="post">
    <label for="Login" class="text">Login</label>
    <input type="text" name="Login" />

    <label for="Password" class="text">Password</label>
    <input type="text" name="Password" />

    <label for="Email" class="text">Email</label>
    <input type="text" name="Password" />

    <label for="Age" class="text">Age</label>
    <input type="text" name="Age" />

    <input type="submit" name="submit" />
</form>
