
@{
    ViewData["Title"] = "Index";
}

    <h2>Index</h2>
    <form action="/home/createregist" method="post">
        <label for="Login" class="text">Login</label>
        <input type="text" name="Login" />

        <label for="Password" class="text">Password</label>
        <input type="text" name="Password" />

        <label for="Email" class="text">Email</label>
        <input type="text" name="Email" />

        <label for="Age" class="text">Age</label>
        <input type="text" name="Age" />

        <input type="submit" name="submit" />
        <button type="button" name="SignUp">Sign up</button>
    </form>
   