
@{
    ViewData["Title"] = "Index";
}
<body>
    <h2>Index</h2>

    <form action="/home/create" method="post">
        <label for="ID" class="text">ID</label>
        <input type="text" name="ID" />

        <label for="Login" class="text">Login</label>
        <input type="text" name="Login" />

        <label for="Password" class="text">Password</label>
        <input type="text" name="Password" />

        <input type="submit" name="submit" />
    </form>
   <style>

   body {
          background: url("http://www.radionetplus.ru/uploads/posts/2013-05/1369460621_panda-26.jpg"); 
          background-size: 100%; /* Современные браузеры */ 
          
   }
   .text{
       color:white;
       font-size:40px;
   }
   </style>
</body>
